body{
    background-color: rgb(73, 73, 73);
    padding-left: 10px;
}
h1{
    color: rgb(165, 165, 165);
}
.foto-perfil{
    padding-top: 10px;
}
.benvinguda {
    display: flex;
    align-items: center;
}
.benvinguda img {
    max-width: 200px;
    margin-right: 10px;
}